$green: #105952;
$aqua: #177F75;
$light_aqua: #dff5f3;


.App {
  // background-image: url('../Assets/background.png');

  .main {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100vh;

    background-color: $light_aqua;
  }
}
