@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600;700&family=Proza+Libre:ital,wght@0,400;0,500;1,600&display=swap');

@mixin label {
  position: absolute;
  top: 12px;
  left: 14px;
  padding: 3px;
  color: grey;
  font-family: 'Proza Libre', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  transition: top .2s linear, padding .2s linear, background-color 0s linear;
}

@mixin input {
  display: block;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 440px;
  height: 40px;
  margin: 4px;
  padding-left: 10px;
  border: solid 1px $light_aqua;
  transition: all .2s linear;
  background-color: $light_gray;
}

$green: #105952;
$aqua: #177F75;
$light_aqua: #dff5f3;
$light_gray: #fafafa;


.index {
  margin-top: 80px;

  display: grid;
  grid-template-rows: 50px auto;
  width: 90%;

  .search-div {
    display: grid;
    grid-template-columns: 3fr 1fr;

    .sec-type {
      display: flex;
      align-items: center;

      span {
        font-family: 'Karla', sans-serif;
        font-size: 18px;
        font-weight: 700;
        margin: 10px;
      }
    }

    .search-bar {
      position: relative;

      #search {
        @include input;

        &:focus {
          color: $aqua;
          background-color: $light_aqua;
          border: solid 1px $aqua;
          outline: none;
          caret-color: $aqua;

          & ~ label {
            padding: 2px 8px;
            color: $aqua;
            top: -12px;
            background-color: $light_aqua;
            transition: top .4s linear, padding .4s linear .4s, background-color 0s linear .4s;
          }
        }

        &:valid {
          color: $aqua;
          background-color: $light_aqua;
          border: solid 1px gray;

          & ~ label {
            padding: 2px 8px;
            color: gray;
            top: -12px;
            background-color: $light_aqua;
            transition: top .4s linear, padding .4s linear .4s, background-color 0s linear .4s;
          }
        }
      }   // -------- #search --------

      label {
        @include label;
      }

    }   // -------- .search-bar --------
  }   // -------- .search-div --------

  .list {
    display: grid;
    grid-template-columns: repeat(6,1fr);

    p {
      color: black;
      text-align: center;
    }
  }

}   // -------- .index --------
