$green: #007860;

.navbar {
  display: grid;
  position: relative;
  grid-template-columns: 10% 80% 10%;
  background-color: $green;
  height: 50px;

  .grid-col-1 {
    display: block;
  }

  .grid-col-2 {
    #logo {
      height: 40px;
      width: auto;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  .grid-col-3 {
    #menu-icon {
      display: none;
      height: 30px;
      width: auto;
    }
  }
}


@media screen and (max-width: 600px) {
  .navbar {
    grid-template-columns: 85% 15%;

    .grid-col-1 {
      display: none;
    }

    .grid-col-2 {

    }

    .grid-col-3 {
      position: relative;

      .nav-acc {
        display: none;
      }


      #menu-icon {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}
